<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To the main</button>
  </div>

  <div class="info">
    <strong>Here author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores corporis eaque excepturi facere nam,
      nostrum pariatur reprehenderit similique tempore ut veniam. Autem, dicta doloremque eaque eligendi nisi nulla
      optio possimus, praesentium quod rerum, similique sunt! Beatae corporis nulla sint. Architecto, assumenda id
      inventore libero quas quod soluta tempora veritatis!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores corporis eaque excepturi facere nam,
      nostrum pariatur reprehenderit similique tempore ut veniam. Autem, dicta doloremque eaque eligendi nisi nulla
      optio possimus, praesentium quod rerum, similique sunt! Beatae corporis nulla sint. Architecto, assumenda id
      inventore libero quas quod soluta tempora veritatis!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores corporis eaque excepturi facere nam,
      nostrum pariatur reprehenderit similique tempore ut veniam. Autem, dicta doloremque eaque eligendi nisi nulla
      optio possimus, praesentium quod rerum, similique sunt! Beatae corporis nulla sint. Architecto, assumenda id
      inventore libero quas quod soluta tempora veritatis!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores corporis eaque excepturi facere nam,
      nostrum pariatur reprehenderit similique tempore ut veniam. Autem, dicta doloremque eaque eligendi nisi nulla
      optio possimus, praesentium quod rerum, similique sunt! Beatae corporis nulla sint. Architecto, assumenda id
      inventore libero quas quod soluta tempora veritatis!
    </p>
  </div>
</div>
